
/* Global styling */
*{
    box-sizing: border-box;
    margin: 0;
}
main{
    padding-bottom: 10rem;
}
body{
    font-family: "open sans";
}
h1, h2, h3, h4, h5, h6{
    font-family: "poppins";
}
button{
    cursor: pointer;
    font-family: "open sans";
}
button:hover{
    opacity: .6;
}

/* heading section */
.heading{
    padding: 2rem 2rem;
    display: flex;
}
.logo img{
    width: 50%;
}
.heading .button{
    margin-left: auto;
}
.button button{
    padding: .2rem 1.2rem;
    border-radius: 10rem;
    border: 1.5px solid hsl(322, 100%, 66%);
    background-color: transparent;
    color: hsl(322, 100%, 66%);
    font-size: .8rem;
    box-shadow: 0px 0px 1.5px ;
}

/* heading text section */

.heading-text{
    text-align: center;
    padding: 5rem 2rem;
    color: hsl(192, 100%, 9%);
}
.heading-text h1{
    font-size: 2rem;
}
.heading-text p{
    padding: 2rem 1.9rem;
    line-height: 1.5;
    font-weight: 500;
}
.heading-text button, .build-community button{
        padding: .9rem 3rem;
        border-radius: 10rem;
        border: none;
        background-color: hsl(322, 100%, 66%);
        color: white;
        font-weight: 500;
        box-shadow: 0px 0px 3px  1px rgb(207, 207, 207);
}
.mockup img{
    width: 100%;
    padding: 7rem 0 3rem;
}

/* Rating section */

.rating{
    display: grid;
    justify-content: center;
    color: hsl(192, 100%, 9%);   
}
.rating img{
    width: 2rem;
}
.rating h2{
    font-size: 4rem;
}
.communities{
    padding-bottom: 6rem;
}
.rating p{
    text-align: center;
    color: hsl(0, 0%, 56%);
}

/* together section */

.together{
    padding: 15rem 2rem 5rem;
    margin-top: 5rem;
    position: relative;
    background-color: hsl(207, 100%, 98%);
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template-areas: "together"
        "textarea";
}
.together::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(241% + 1.3px);
    height: 70px;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background: url("images/waves2.svg");
}
.together::after {
    content: "";
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    width: calc(200% + 150px);
    height: 220px;
    background: url("images/wave.svg");
}
.conversation-textarea h3,.user-textarea h3, .together-textarea h3{
    font-size: 1.7rem;
    padding: 1rem 0;
}
.conversation-textarea,.together-textarea{
    grid-area: textarea;
    padding: 5rem 2rem;
    font-weight: 500;
    color: hsl(192, 100%, 9%);
    line-height: 1.4;
    font-size: 1rem;
}
.together-img img{
    grid-area: 
    together;
    width: 20rem;
}

/* conversation section */

.conversation{
    padding: 8rem 2rem 2rem;
    text-align: center;
}
.conversation img{
    width: 20rem;
}

/* users section */

.user {
    padding: 15rem 2rem 5rem;
    margin-top: 5rem;
    position: relative;
    background-color: hsl(207, 100%, 98%);
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template-areas: "user"
        "utextarea";
}
.user::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(209% + 650px);
    height: 200px;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background: url("images/Negative1.svg");
}

.user::after {
    content: "";
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    width: calc(209% + 1.3px);
    transform: rotate(180deg);
    height: 150px;
    background: url("images/Negative.svg");
}
.user-textarea {
    grid-area: utextarea;
    padding: 5rem 2rem 16rem;
    font-weight: 500;
    color: hsl(192, 100%, 9%);
    line-height: 1.4;
    font-size: 1rem;
}

.user-img img {
    grid-area:
        user;
    width: 20rem;
}

/* Build section */

.build-community{
    text-align: center;
    padding: 0 4rem 6rem;
    color: hsl(192, 100%, 9%);
}
.build-community h3{
    font-size: 1.8rem;
    padding-bottom: 2rem;
}


/* footer section */

footer{
    background-color: hsl(192, 100%, 9%);
    position: relative;
    overflow: hidden;
    padding: 8rem 2rem 2rem;
    color: white;
}
footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -42%;
    width: calc(142% + 1.3px);
    transform: scaleX(-1);
    height: 113px;
    background-repeat: no-repeat;
    background: url("images/waves4.svg");
}
.footer{
    display: grid;
        grid-template-areas: "new"
            "logo"
            "social";
}
.footer .logo img{
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
    width: 15rem;
    padding-bottom: 1rem;
}
ul{
    list-style: none;
    padding-inline-start: 0;
}
.left-side{
    grid-area: logo;
}

/* Contact section */
.link{
    padding: 1rem 0;
}
.link i{
    padding-right: 1rem;
}
.link li{
    padding-bottom: 1rem;
}

.social{
    grid-area: social;
}
.social ul{
    display: grid;
        grid-template-columns: repeat(3,3rem);
        padding: 2rem 0;
}
.social i{
    font-size: 1.9rem;
}
.social a{
    color: white;
}
.social a:hover{
    color: aqua;
}

/* .newsletter section */
.newsletter{
    grid-area: new;
    padding-bottom: 6rem;
}
.newsletter h4{
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 1rem;
}
.newsletter p, .left-side p{
    font-size: 1rem;
    line-height: 1.7;
    padding: 0 5rem 2rem 0;
    font-weight: 500;
}
/* newsletter input section */
.newsletter input{
    border-radius: .3rem;
    border: none;
    padding: 1.2rem;
    width: 100%;
    outline: none;
    margin-bottom: 1rem;
}
.newsletter input:invalid{
    border: 2px solid red;
}
.footer-button{
    text-align: right;
}
/* newsleter button */
.footer-button button{
        padding: .9rem 3rem;
        border-radius: .3rem;
        border: none;
        background-color: hsl(322, 100%, 66%);
        font-size: 1.3rem;
        color: white;
        font-weight: 600;
}

/* atrribution section */

.attribution{
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
}
.attribution a{
    color: hsl(322, 100%, 66%);
    text-decoration: none;
}